<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>EC2 Builder</title>
  <link rel="stylesheet" href="/static/css/service/ec2/ec2.css">
</head>
<body>

  <!-- Sidebar -->
  <aside class="sidebar">
    <h2>EC2</h2>
    <div class="menu-item active" data-type="instance">인스턴스</div>
    <div class="menu-item" data-type="security-group">보안 그룹</div>
    <div class="menu-item" data-type="keypair">키 페어</div>
    <div class="menu-item" data-type="volume">EBS 볼륨</div>
    <div class="menu-item" data-type="ami">AMI</div>
    <div class="menu-item" data-type="launch-template">Launch Template</div>
  </aside>

<!-- Main -->
<div class="main">
  <div class="topbar">
    <div id="title">EC2</div> <!-- 여기 추가 -->
    <h1 id="page-title">EC2</h1>
    <div id="region">리전: --</div>
  </div>

  <div class="content">
    <div class="card" id="form-area"></div>
  </div>
</div>

  
<script src="/static/js/service/ec2/ec2.js">
</script>



</body>
</html>
